/* 
    Created on : 24 ก.ค. 2557, 0:40:55
    Author     : วันเฉลิม
    Design     : สำหรับ โทรศัพท์ แทปเล็ต
*/
@media screen and (max-width:1080px){
    /******************************   after shop  */
    #artical.slidebar_aftershop{
        width: 24.8%;
    }
    #artical.main_aftershop{
        width: 74%;
    }
    /*----------------------------------------------------------------- add_category -----------------------*/
    #add_category .text{
        width: 62%;
    }
    #add_category .btsub{
        width: 30%;
    }
    /*----------------------------------------------------------------- employee -----------------------*/
    #add_emplooyee span:first-child,#add_member span:first-child{
        width: 25%;
    }
    /******************************   /after shop  */
    /*-------------------------------------Before shop ------------------------------*/
    /*-------------index.php-----------*/
    .hideTosmartPhoe{
        display: none !important;   
    }
    /*-------------------------------------/Before shop ------------------------------*/
}
/*------------------------------------ SmartPhone ------------------------------------------*/
@media screen and (max-width:810px){
    #containur{
        min-width: 320px;
    }
    #nev_header,#footer{
        min-width: 330px;
    }
    #nev_header div.nav_menu{
        width: 55%;
    }
    #nev_header div.logo{
        width: 60%;
    }
    #nev_header div.search-box{
        position: absolute;
        top: 5%;right: 0.2%;
        width: 60%;
    }
    div.nav_menu ul li a span{
        display: none;   
    }
    div.nav_menu ul li{
        width: 16%;
    }
    div.nav_menu ul li a{
        width: 100%;
        padding: 4px 0px 4px 0px;
    }
    div.nav_menu ul li ul.secon-navmenu li a span{
        display: inline;
    }
    div.search-box span.search-tx, div.search-box select#search_select{
        display: inline-block;
    }
    div.search-box select#search_select{
        float: none;
        width: 30%;
    }
    div.search-box span.search-tx{
        float: none;
        width: 80%;
    }
    div.search-box input.search-tx{
        width: 75%;
    }
    div.search-box button{
        width: 23%
    }
    /************************************/
    #artical.signin,#artical.login{
        float: none;
        width: 100%;
    }
    #artical.signin{
        margin-top: 12px !important;
        margin-bottom: 40px !important;
    }
    /****************************************************************************-- after shop --*/
    img.smart_phone_hide_icon{
        display: block;
    }
    #artical.slidebar_aftershop,#artical.main_aftershop{
        float: none;
        margin-bottom: 7px;
    }
    #artical.slidebar_aftershop{
        width: 100%;
        height: auto !important;
    }
    #artical.main_aftershop{
        width: 100%;
    }
    .bottom_main{
        margin-bottom: 40px !important;
    }
    #artical.main_aftershop h3.topic{margin-bottom: 0;}
    ul.nev_menuAftershop{display: none;}
    ul.nev_menuAftershop li a{
        padding:15px 3%;
    }
    table.table_aftershop tr:not(:first-child) td{
        padding: 12px 7px;
    }
    #add_category{
        padding-top: 17px;
    }
    #add_category .text{
        width: 52%;
    }
    #add_category .btsub{
        width: 40%;
    }
    /*----------------------------------------------------------------- employee -----------------------*/
    #add_emplooyee span:first-child,#add_member span:first-child{
        text-align: left;
        width: 99%;
        padding-left: 1%;
    }
    #add_emplooyee p,#add_member p{
        text-align: left;
    }
    #add_emplooyee span,#add_member span{
        display: block;
        width: 100%;
    }
    #add_emplooyee .text,#add_member .text{
        width: 92%;
    }
    #add_emplooyee textarea,#add_member textarea{
        max-width: 92%;
    }
    /*----------------------------------------------------------------- product -----------------------*/
    #add_product{
    }
    #add_product p{
        padding-bottom: 10px;
        border-bottom: solid 1px #f0f0f0;
    }
    #add_product p{
        text-align: center;
    }
    #add_product p span:first-child{
        width: 100%;
        padding: 0;margin: 0;
        margin-bottom: 5px;
        display: block;
        text-align: left;
    }
    #add_product p span .text,#add_product p span *{
        width: 90%;
        padding: 5px 1%;
    }
    #add_product p span .text{
        width: 88%;
    }
    /*------------------product edit------------------------*/
    #edit_product p,#edit_product div{
        text-align: center;
    }
    #edit_product p span:first-child,#edit_product div span:first-child{
        width: 100%;
        padding: 0;margin: 0;
        margin-bottom: 5px;
        display: block;
        text-align: left;
    }
    #edit_product p .select{
        width: 100%;
        padding: 5px 0px;
    }
    #edit_product p span .text{
        width: 100%;
        padding: 5px 0px;
        border-bottom: solid 1px #f0f0f0;
    }
    .sound_product audio{
        width: 95%;
    }
    #edit_product img.img_edis_product{
        width: 100%;
    }
    /*------------------------------------------Before Shop --------------------------------------*/
    /*---------------------- index.php--------------------*/
    #login_BrforeShop,#search_BeforeShop,.hideTosmartPhoe{
        display: none !important;   
    }
    #show_product_sell{
        text-align: center;
        width: 134.5%;
        margin-left: -34.5%;
        margin-bottom: 10px;
    }
    .product_price{
        margin: 5px .5%;
        margin-bottom: 10px;
        width: 30%;
    }
    /*---------------------- order_manage.php--------------------*/
    .order_main,.order_sidebar{
        float: none;
        width: 100%;
    }
    .order_sidebar{
        height: auto !important;
    }
    #confirm_order{
        margin-bottom: 5px;
        text-align: center;
    }
    .btconfirm,.textconfirm{
        float: none !important;
    }
    .btconfirm .bt_black{
        margin-top: 10px;
    }
    .sum_priceAll sup{
        display: none;
    }
    /*------------------------------------------------show product and comment ----------------------------------------------------*/
    .show_imgProduct,.show_detail_rocuct{
        float: none;
        width: 100%;
    }
    #destop{
        display: none !important;
    }
    #smartphone{
        display: inline-block;
    }
    /*------------------------------------------ /Before Shop --------------------------------------*/
    /*****************************************************************/
    #footer{
        height: 35px;
        position: fixed;
        bottom: 0;left: 0;
        width: 100%;
    }
    /*----------------------------------------- other --------------------------------------*/
    .in-dialog{
        width: 97% !important;
    }
    #dialog #artical{
        margin-bottom: 4px;
    }
}
@media screen and (max-width:640px){
    #nev_header{
        margin-top: 41px;
    }
    #nev_header div.logo{
        width: 100%;
    }
    #nev_header div.nav_menu{
        text-align: center;
        width: 100%;
        position: relative;
    }
    div.nav_menu ul li{
        width: 17%;
        float: none;
        display: inline-block;
    }
    div.nav_menu ul li a{
        width: 100%;
    }
    #nev_header div.search-box{
        z-index: 200;
        text-align: center;
        min-width: 200px;
        line-height: 1cm;
        background-color: rgba(157,78,0,0.8);
        position: fixed;
        top: 0%;right: 0%;
        width: 100%;height: 40px;
        padding: 0 1%;
        border-bottom: solid 1px #4a2403;
    }
    div.nav_menu ul li ul.secon-navmenu{
        left: -1px;
    }
    /****************************************************************************-- after shop --*/
    td.show_date{
        display: none;
    }
    /********************************/
    #footer{
        background-color: rgba(157,78,0,0.8);
    }
    #artical.signin h3.topic,#artical.login h3.topic{
        font-size: 15px;
    }
    /*------------------------------------------Before Shop --------------------------------------*/
    /*------------------------index.php-----------------------------*/
    h3.title_category{
        font-size: 16px;
    }
    h3.title_category span{
        display: none;
    }
    .before_showShowcat{
        margin: 0 0 0 10px;
        display: inline-block;
        height: 30px;
        opacity: .6;
        display: block;
    }
    .before_showShowcat:hover{
        opacity: 1;
    }
    #show_product_sell{
        width: 100%;
        margin: auto;
    }
    .product_price{
        width: 95%;
    }
    #img_product{

    }
    #img_product img{
        height: 150px;
    }
    .bar_design{
        border-radius: 10px 10px 0 0;
    }
    .bar_design:nth-of-type(2){
        border-radius: 0 0 10px 10px;
    }
    .sidebarMenu{
        display: none;
        border-radius: 0 0 10px 10px;
    }
    .before_shop-mainContainer,.before_shop-sidebar{
        float: none;
        width: 100%;
    }
    .before_shop-sidebar sidebarMenu{
        height: auto !important;
    }
    img.show_imageProduct{
        height: 100px !important;
        overflow: hidden;
    }
    #show_product_sell h3.topic{
        font-size: 16px;
    }
    /*------------------------------------------ /Before Shop --------------------------------------*/
    /*--------------------------------- other ---------------------------------------*/
    form.update_dialog_employee p{
        width: 100%;
    }
    .dialog_update_bt{text-align: center;}
    .dialog_update_bt .button{
        display: inline-block;
        width: 80%;
        padding: 1.5%;
        margin-bottom: 5px;
    }
}
@media screen and (max-width:490px){
    #comment .toolbar2,#comment .toolbar1{
        display: none;
    }
}
/*------------------------------------ /SmartPhone ------------------------------------------*/
